/node_modules
/public/hot
/public/storage
public/files/*
/nbproject/private/private.xml
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/nbproject/private/private.xml
*.xml
/.git.rar
/.vscode/
/public/images
/public/images/img-thumbnails
/storage/Documents
/stats
